@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  font-family: "Manrope", sans-serif;
  /* transition: all 0.5s linear; */
}
body {
  color: white;
  background-color: #171717;
}
.navbar {
  display: flex;
  position: fixed;
  top: 0;
  padding: 1% 0;
  align-items: center;
  width: 100%;
  height: 12vh;
  background-color: transparent;
  transition: background-color 0.5s;
  z-index: 1;
  color: white;
}
.navbar.scrolled{
  background-color: #242424;
  box-shadow: 0 2px 4px rgba(25, 25, 25, 0.3);
}
.navbar-items {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  user-select: none;
}
.logo {
  font-size: 2em;
  font-weight: 600;
  user-select: none;
}
.logo span {
  color: red;
  transition: color 0.5s linear;
}
.logo span:hover {
  color: #19d5ff;
  transition: color 0.5s linear;
}
.navbar-items ul li {
  list-style: none;
  display: inline-block;
  margin: 0 16px;
}
.navbar-items ul li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
}
.navbar-items ul li::after {
  content: '';
  width: 0;
  height: 2px;
  background: red;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.navbar-items ul li:hover::after {
  width: 100%;
}
.burger {
  display: none;
}
.nav_search {
  position: relative;
  display: flex;
  align-items: center;
  width: 314px;
}
.nav_search input {
  padding: 5px;
  overflow: hidden;
  white-space: nowrap;
  opacity: 0;
  outline: none;
  border: 1px solid #fff;
  background-color: #171717;
  color: white;
  transition: opacity 0.1s ease;
  text-transform: none;
  flex-grow: 1;
}
.nav_search span {
  position: relative;
  z-index: 1;
  font-size: 22px;
  margin-left: 0.5em;
  cursor: pointer;
}
.nav_search.active input {
  opacity: 1;
}

/* HOME SECTION */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  user-select: none;
}
.img {
  position: relative;
  top: 25%;
}
.img img {
  width: 650px;
  filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.2));
  /* animation: slideLeft 2s ease-in-out; */
}
.video {
  position: absolute;
  top: 22%;
  left: 22%;
  width: 56%;
  object-fit: cover;
}
.content {
  position: absolute;
}
/* .content h1 {
  font-size: 12em;
  background-clip: border-box;
  background: -webkit-linear-gradient(90deg, red 50%, #19d5ff 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.2));
  animation: fadeIn 2s ease-in-out;
} */
.content h1 {
  font-size: 12em;
  background-clip: border-box;
  filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.2));
  color: red;
  transition: color 0.5s linear
}
.content h1:hover {
  color: #19d5ff;
  transition: color 0.5s linear
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideLeft {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}

/* SYSTEMS SECTION */
.sec {
  padding-top: 7.5%;
  width: 90%;
  margin: auto;
  text-align: center;
}
.heading {
  font-size: 4em;
  color: red;
}
.systems_content {
  display: flex;
  justify-content: space-evenly;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 20px;
}
.systems_product {
  width: 30%;
  padding: 18px;
  background: white;
  border-radius: 5%;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin: 0 25px;
}
.systems-product-img {
  margin-bottom: 10px;
}
.systems-product-img img {
  max-width: 100%;
}
.systems-product-desc {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  width: 100%;
}
.system-info {
  list-style-position: outside;
  margin-left: 1rem;
  padding: 0 10px;
  box-sizing: border-box;
  font-size: 0.9em;
  margin-bottom: 2.5rem;
}
.system-info h2 {
  font-size: 1.4em;
}
.system-info h2, .system-info p {
  margin-bottom: 20px;
}
ul {
  text-align: left;
}
.system-price {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 12px;
}
.learn-more-btn {
  flex: display;
  font-size: 1em;
  font-weight: bold;
  text-transform: none;
  padding: 15px 30px;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: red;
  color: white;
}
.learn-more-btn:hover {
  cursor: pointer;
  background-color: rgb(185, 0, 0);
}

/* GAMES SECTION */
.game_boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem 3rem;
  margin-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 2%;
}
.g_box {
  background-color: white;
  color: black;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.g_box:hover {
  .game-desc h2 {
    color: red;
    transition: color 0.2s linear;
  }
  .game-img {
    transform: translateY(-2%);
    transition: transform 0.2s linear;
  }
  .game-img img {
    box-shadow: 0px 4px 4px rgba(25, 25, 25, 0.4);
    transition: box-shadow 0.2s linear;
  }
  cursor: pointer;
}
.game-img {
  transform: translateY(0%);
  transition: transform 0.2s linear;
  margin-top: 5%;
}
.game-img img {
  width: 90%;
  border-radius: 14px;
  transition: box-shadow 0.2s linear;
}
.game-desc {
  padding-top: 2%;
  padding-left: 4%;
  padding-right: 4%;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.game-desc h2 {
  color: black;
  font-size: 1.4em;
  transition: color 0.2s linear;
  margin-bottom: 8px;
}
.game-date {
  color: #727272;
  font-size: 0.7em;
}
.game-price-div {
  padding: 20px;
  width: 100%;
}
.game-price {
  font-weight: bold;
  font-size: 1.2em;
}

/* ACCESSORIES SECTION */
.boxes {
  display: flex;
  margin: 5% 25px;
}
.box {
  margin: 0 25px;
  border: 2px solid red;
  padding: 3% 2%;
  box-shadow: rgba(0, 0, 0, 2.35) 0 5px 15px;
  cursor: pointer;
  transition: transform 0.6s ease, box-shadow 0.6s ease;
  background-color: white;
  color: black;
  border-radius: 5%;
}
.box h1 {
  padding: 10px;
}
.box p {
  color: #727272;
}
.box img {
  width: 100%;
}
.box:hover {
  transform: scale(1.1) rotate(5deg);
}
.btn {
  padding: 15px 30px;
  background-color: #2b2b2b;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  border: 2px solid red;
  margin-bottom: 2%;
  border-radius: 10px;
  transition: background-color 0.5s linear;
}
.btn:hover {
  color: black;
  background-color: red;
}

/* FOOTER */
.footer {
  margin-top: 5%;
  background-color: #2b2b2b;
}
.footer_container {
  width: 85%;
  padding-top: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem 2rem;
  margin: auto;
}
.col ul {
  list-style: none;
}
.col li a {
  text-decoration: none;
  color: #ccc;
}
.socials {
  display: flex;
}
.socials li {
  padding-right: 20px;
  font-size: 26px;
  color: white;
  cursor: pointer;
}
.socials li i:hover {
  color: red;
}
.col h4 {
  display: flex;
  font-size: 26px;
  height: 55px;
  align-items: center;
}
.col p, .col li {
  margin: 1rem 0;
  color: #ccc;
}
.f_logo {
  font-size: 2em;
  font-weight: 600;
}
.footer_bar {
  display: flex;
  width: 85%;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
  justify-content: center;
}
.footer_bar a {
  color: #909090;
  text-decoration: none;
}

/* SCROLL-UP */
.top {
  color: white;
  font-size: 40px;
  position: fixed;
  right: 5%;
  transition: bottom .4s transform .4s;
  cursor: pointer;
  bottom: -50%;
}
.top:hover {
  transform: translateY(-0.2rem);
}
.top.show {
  bottom: 5%;
}