@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  font-family: "Manrope", sans-serif;
  /* transition: all 0.5s linear; */
}
body {
  color: white;
  background-color: #171717;
}
.navbar {
  display: flex;
  position: fixed;
  top: 0;
  padding: 1% 0;
  align-items: center;
  width: 100%;
  height: 12vh;
  background-color: transparent;
  transition: background-color 0.5s;
  z-index: 1;
  color: white;
}
.navbar.scrolled {
  background-color: #242424;
  box-shadow: 0 2px 4px rgba(25, 25, 25, 0.3);
}
.navbar-items {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  user-select: none;
}
.logo {
  font-size: 2em;
  font-weight: 600;
  user-select: none;
}
.logo span {
  color: red;
  transition: color 0.5s linear;
}
.logo span:hover {
  color: #19d5ff;
  transition: color 0.5s linear;
}
.navbar-items ul li {
  list-style: none;
  display: inline-block;
  margin: 0 16px;
}
.navbar-items ul li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
}
.navbar-items ul li::after {
  content: '';
  width: 0;
  height: 2px;
  background: red;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.navbar-items ul li:hover::after {
  width: 100%;
}
.burger {
  display: none;
}
.nav_search {
  position: relative;
  display: flex;
  align-items: center;
  width: 314px;
}
.nav_search input {
  padding: 5px;
  overflow: hidden;
  white-space: nowrap;
  opacity: 0;
  outline: none;
  border: 1px solid #fff;
  background-color: #171717;
  color: white;
  transition: opacity 0.1s ease;
  text-transform: none;
  flex-grow: 1;
}
.nav_search span {
  position: relative;
  z-index: 1;
  font-size: 22px;
  margin-left: 0.5em;
  cursor: pointer;
}
.nav_search.active input {
  opacity: 1;
}

/* HOME SECTION */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  user-select: none;
}
.img {
  position: relative;
  top: 25%;
}
.img img {
  width: 650px;
  filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.2));
}
#video {
  position: absolute;
  top: 21.7%;
  left: 21.4%;
  width: 57%;
  object-fit: cover;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.content {
  position: absolute;
}
.content h1 {
  font-size: 12em;
  background-clip: border-box;
  filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.2));
  color: red;
  transition: color 0.5s linear;
  margin: 0;
}
.content h1:hover {
  color: #19d5ff;
  transition: color 0.5s linear
}

/* SYSTEMS SECTION */
.sec {
  padding-top: 7.5%;
  width: 90%;
  margin: auto;
  text-align: center;
}
.heading {
  font-size: 4em;
  color: red;
}
.systems_content {
  display: flex;
  justify-content: space-evenly;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 20px;
}
.systems_product {
  width: 30%;
  padding: 18px;
  background: white;
  border-radius: 5%;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin: 0 25px;
}
.systems-product-img {
  margin-bottom: 10px;
  transition: transform 0.2s linear;
}
.systems-product-img img {
  max-width: 90%;
}
.systems-product-desc {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}
.systems-header {
  margin-bottom: 20px;
}
.systems-header h2 {
  font-size: 1.4em;
  margin-bottom: 10px;
  transition: color 0.2s linear;
}
.systems-header p {
  padding: 0 10px;
}
.systems-info {
  list-style-position: outside;
  margin-left: 1rem;
  padding: 0 10px;
  box-sizing: border-box;
  font-size: 0.9em;
  margin-bottom: 2.5rem;
}
.systems-info ul li {
  margin-bottom: 2%;
  text-align: left;
}
.systems-price {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 12px;
}
.learn-more-btn {
  font-size: 1em;
  font-weight: bold;
  text-transform: none;
  padding: 15px 30px;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: red;
  color: white;
  transition: background-color 0.1s ease-in-out;
}
.learn-more-btn:hover {
  cursor: pointer;
  background-color: rgb(185, 0, 0);
  transition: background-color 0.1s ease-in-out;
}
.systems_product:hover {
  .systems-product-img {
    transform: scale(105%);
    transition: transform 0.2s linear;
  };
  .systems-header h2 {
    color: red;
    transition: color 0.2s linear;
  };
}
/* GAMES SECTION */
.game_boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem 3rem;
  margin-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 2%;
}
.g_box {
  background-color: white;
  color: black;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.g_box:hover {
  .game-desc h2 {
    color: red;
    transition: color 0.2s linear;
  }
  .game-img {
    transform: translateY(-2%);
    transition: transform 0.2s linear;
  }
  .game-img img {
    box-shadow: 0px 4px 4px rgba(25, 25, 25, 0.4);
    transition: box-shadow 0.2s linear;
  }
  cursor: pointer;
}
.game-img {
  transform: translateY(0%);
  transition: transform 0.2s linear;
  margin-top: 5%;
}
.game-img img {
  width: 90%;
  border-radius: 14px;
  transition: box-shadow 0.2s linear;
}
.game-desc {
  padding-top: 2%;
  padding-left: 4%;
  padding-right: 4%;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.game-desc h2 {
  color: black;
  font-size: 1.4em;
  transition: color 0.2s linear;
  margin-bottom: 8px;
}
.game-date {
  color: #727272;
  font-size: 0.7em;
}
.game-price-div {
  padding: 20px;
  width: 100%;
}
.game-price {
  font-weight: bold;
  font-size: 1.2em;
}

/* ACCESSORIES SECTION */
.boxes {
  display: flex;
  margin: 5% 25px;
}
.box {
  margin: 0 25px;
  border: 2px solid red;
  padding: 3% 2%;
  box-shadow: rgba(0, 0, 0, 2.35) 0 5px 15px;
  cursor: pointer;
  transition: transform 0.6s ease, color 0.2s ease-in-out;
  background-color: white;
  color: black;
  border-radius: 5%;
}
.box h1 {
  padding: 10px;
}
.box p {
  color: #727272;
}
.box img {
  width: 100%;
}
.box:hover {
  color: red;
  transform: scale(1.1) rotate(5deg);
}
.btn {
  padding: 15px 30px;
  background-color: #2b2b2b;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  border: 2px solid red;
  margin-bottom: 2%;
  border-radius: 10px;
  transition: background-color 0.5s linear;
}
.btn:hover {
  color: black;
  background-color: red;
}

/* FOOTER */
.footer {
  margin-top: 5%;
  background-color: #2b2b2b;
}
.footer_container {
  width: 85%;
  padding-top: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem 2rem;
  margin: auto;
}
.f_logo {
  font-size: 2em;
  font-weight: 600;
}
.col {
  display: flex;
  flex-direction: column;
}
.col p {
  margin: 1rem 0;
  color: #ccc;
  justify-content: center;
  min-height: 120px;
}
.socials {
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.socials li a {
  margin-right: 1.2rem;
}
.socials li i {
  font-size: 26px;
  color: #ccc;
  cursor: pointer;
  transition: color 0.1s linear
}
.facebook:hover {
  color: #1877F2;
  transition: color 0.1s linear;
}
.instagram:hover {
  background-clip: border-box;
  background: -webkit-linear-gradient(75deg, #F58529, #FEDA77, #DD2A7B, #8134AF, #515BD4, white);
  background-size: 180% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.twitter:hover {
  color: black;
  transition: color 0.1s linear
}
.youtube:hover {
  color: red;
  transition: color 0.1s linear
}
.col h4 {
  display: flex;
  font-size: 26px;
  height: 55px;
  align-items: center;
}
.col ul li {
  list-style: none;
}
.col li a {
  text-decoration: none;
  color: #ccc;
  transition: color 0.15s linear;
}
.links {
  margin-top: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.links li {
  display: flex;
  margin-bottom: 10px;
}
.links a:after {
  content: '';
  width: 0;
  height: 2px;
  background: #ccc;
  display: block;
  transition: 0.3s;
}
.links a:hover:after {
  width: 100%;
  background: white;
}
.links a:hover {
  color: white;
  transition: color 0.15s linear;
}
.footer_bar {
  display: flex;
  width: 85%;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
  justify-content: center;
}
.footer_bar a {
  color: #909090;
  text-decoration: none;
  transition: all .2s ease;
}
.footer_bar a:hover {
  font-size: 104%;
  color: #ccc;
  transition: all .2s ease;
}

/* SCROLL-UP */
.top {
  color: white;
  font-size: 40px;
  position: fixed;
  right: 5%;
  transition: bottom .4s transform .4s;
  cursor: pointer;
  bottom: -50%;
}
.top:hover {
  transform: translateY(-0.2rem);
}
.top.show {
  bottom: 5%;
}