* {
  box-sizing: border-box;
  text-transform: capitalize;
  padding: 0%;
  margin: 0%;
  transition: all 0.5s linear;
}
body {
  color: white;
  background-color: #171717;
}
.navbar {
  display: flex;
  position: fixed;
  top: 0;
  padding: 1% 0;
  align-items: center;
  width: 100%;
  height: 12vh;
  background-color: transparent;
  transition: background-color 0.5s;
  z-index: 1;
  color: white;
}
.navbar-items {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
  font-size: 2em;
  font-weight: 600;
}
.logo span {
  color: red;
}
.navbar-items ul li {
  list-style: none;
  display: inline-block;
  margin: 0 16px;
}
.navbar-items ul li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
}
.navbar-items ul li::after {
  content: '';
  width: 0;
  height: 2px;
  background: red;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.navbar-items ul li:hover::after {
  width: 100%;
}
.burger {
  display: none;
}